@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: Regonia;
  src: url('../fonts/regonia.otf');
  font-display: swap;
}

@layer components {
  .bg-primary {
    @apply bg-white dark:bg-customGray-dark;
 
  }

  .bg-secondary {
    @apply bg-customGray-base dark:bg-customGray-light;
  }

  .text-primary {
    @apply text-black dark:text-white;
  }

  .text-secondary {
    @apply text-gray-500 dark:text-slate-500;
  }
}
h1{
  font-family: Regonia;
  color:#081F62;

}
h2,h3,h4,h5,h6{
  color: #051747;
  color:#081F62;

} 
html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

a,
div,
button {
  -webkit-tap-highlight-color: transparent;
}
